<div id="About" class="tabcontent" >
    <div class="circleOfButton" id="circle41"></div>
    <div class="circleOfButton" id="circle42"></div>
    <div id="mainDivAbout">
        <h1>About our company</h1>
        <p>You are <span class="greenTexts">allowed</span> to use Astro Motion HTML Template for your websites. You are not allowed to re-distribute this template ZIP file on any Free CSS template collection website. Illegal redistribution is strongly
            prohibited.
        </p>
        <p>Praesent auctor rhoncus arcu, vitae blandit est vestibulum sit amet. Integer erat turpis, vestibulum pellentesque aliquam ultricies, finibus nec dui. Donec bibendum enim mi, at tristique leo feugiat at. Thank you for visiting Template Mo.</p>
    </div>
    <div class="circleOfButton" id="circle43"></div>
    <div class="circleOfButton" id="circle44"></div>
</div>
<router-outlet></router-outlet>