<div id="Gallery" class="tabcontent" >
    <div class="circleOfButton" id="circle31"></div>
    <div class="circleOfButton" id="circle32"></div>
    <div class="slideshow-container" id="slide-gallery">
        <div class="mainSlide mySlides fade" style="display: block;">
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-01.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-02.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-03.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-04.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container">
                <img alt="image" src="./../../../assets/images/gallery-img-05.jpg" style="width: 100%; display: block;">
            </div>
        </div>
        <div class="mySlides fade" style="display: none;">
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-02.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-03.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-04.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-05.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container">
                <img alt="image" src="./../../../assets/images/gallery-img-06.jpg" style="width: 100%; display: block;">
            </div>
        </div>
        <div class="mySlides fade" style="display: none;">
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-03.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-04.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-05.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container" style="margin-right: 2.5%;">
                <img alt="image" src="./../../../assets/images/gallery-img-06.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container">
                <img alt="image" src="./../../../assets/images/gallery-img-07.jpg" style="width: 100%; display: block;">
            </div>
        </div>
    </div>
    <div class="slideshow-container" id="slide-gallery-r">
        <div class="mainSlide mySlides fade mainSlide-r" style="display: none;">
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-01.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-02.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r">
                <img alt="image" src="./../../../assets/images/gallery-img-03.jpg" style="width: 100%; display: block;">
            </div>
        </div>
        <div class="mySlides fade" style="display: none;">
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-03.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-04.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r">
                <img alt="image" src="./../../../assets/images/gallery-img-05.jpg" style="width: 100%; display: block;">
            </div>
        </div>
        <div class="mySlides fade" style="display: none;">
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-05.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r" style="margin-right: 3.3%;">
                <img alt="image" src="./../../../assets/images/gallery-img-06.jpg" style="width: 100%; display: block;">
            </div>
            <div class="img-container-r">
                <img alt="image" src="./../../../assets/images/gallery-img-07.jpg" style="width: 100%; display: block;">
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px; display: block; width: 100%;">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
<router-outlet></router-outlet>