<div id="Home" class="tabcontent" >
    <div class="circleOfButton" id="circle21"></div>
    <div class="circleOfButton" id="circle22"></div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-5" id="homeFirstConatainer">
                <h4>Welcome to Astro Motion</h4>
                <p>This HTML template has a motion video background loop which is provided by <span class="greenTexts">Get Free Pictures</span>. This is one-page responsive layout for your websites. Feel free to use this for a commercial purpose.</p>
                <p>You are not permitted to redistribute this template on your Free CSS collection websites. Please <span class="greenTexts">contact us</span> for more information.</p>
            </div>
            <div class="col-3" id="homeSecondConatainer">
                <img alt="image" src="./../../../assets/images/home-img-1.jpg">
                <img alt="image" src="./../../../assets/images/home-img-2.jpg">
            </div>
        </div>
    </div>
    <div class="circleOfButton" id="circle23"></div>
    <div class="circleOfButton" id="circle24"></div>
</div>
<router-outlet></router-outlet>